* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 65vw;
  margin: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 32px;
}

.tagName {
  font-size: 18px;
}

textarea {
  width: 100%;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.results {
  display: flex;
  justify-content: space-between;
}

.results p {
  background-color: #1f4690;
  font-size: 22px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.clearBtn {
  font-size: 18px;
  color: #fff;
  width: 130px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  background-color: #bc4242;
}

.clearBtn:disabled {
  background-color: #858585;
}

@media screen and (max-width: 768px) {
  main {
    width: 90vw;
    margin: 20px;
  }

  .clearBtn {
    margin-bottom: 20px;
  }

  .results {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .results p {
    width: 100%;
  }

}